# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
calculator-lld/.idea/encodings.xml
calculator-lld/.idea/misc.xml
calculator-lld/.idea/misc.xml
calculator-lld/.idea/vcs.xml
calculator-lld/.idea/vcs.xml
calculator-lld/.idea/workspace.xml
calculator-lld/.idea/misc.xml
calculator-lld/.idea/misc.xml
calculator-lld/.idea/uiDesigner.xml
calculator-lld/.idea/vcs.xml
calculator-lld/.idea/workspace.xml
tictactoe-lld/.idea/jpa-buddy.xml
tictactoe-lld/.idea/misc.xml
tictactoe-lld/.idea/vcs.xml
tictactoe-lld/.idea/dbnavigator.xml
tictactoe-lld/.idea/encodings.xml
atm-lld/.idea/dbnavigator.xml
atm-lld/.idea/jpa-buddy.xml
atm-lld/.idea/misc.xml
atm-lld/.idea/misc.xml
atm-lld/.idea/misc.xml
parking-lot-lld/.idea/dbnavigator.xml
parking-lot-lld/.idea/encodings.xml
parking-lot-lld/.idea/jpa-buddy.xml
parking-lot-lld/.idea/misc.xml
parking-lot-lld/.idea/vcs.xml
parking-lot-lld/.idea/dbnavigator.xml
parking-lot-lld/.idea/encodings.xml
